*.iml
.idea/
target/
src/main/resources/db/migration/V2__test_data.sql
src/main/resources/db/migration/V3__new_post.sql
src/main/resources/db/migration/V4__users_for_auth.sql
src/main/resources/db/migration/V5__user_moder.sql
src/main/resources/db/migration/V6__posts_for_moder.sql
src/main/resources/db/migration/V7__posts_moder_new.sql
src/main/resources/static/upload/